html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", monospace;
  height: 2000px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.col-12 {
  width: 100%;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}